name: Build

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Run
        run: |
          python3 src/python2vim.py > "${{ runner.temp }}/python.vim"

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          path: ${{ runner.temp }}/python.vim
